* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url(./cool-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  align-items: center;
}

.big-container {
  width: 50%;
  border: 1px solid #363676;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 10px ;
  padding: 0.5rem;
  gap: 1rem;
}

.big-container h1 {
  font-size: 2rem;
  background-color:#363676;
  margin: 0;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  color: #ffff;
}

.big-container h1 i {
  font-size: 1rem;
}

.enter {
  outline: none;
  background-color: #edeeb6;
  border: 1px solid #edeeb6;
  border-radius: 5px;
  font-style: italic;
  padding: 0.7rem;
  font-weight: 300;
}

.line {
  background-color: #bfd7eb;
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  margin: 0;
  gap: 0.6rem;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line input,
h3,
span {
  font-weight: 300;
  margin: 0;
}

.line.active {
  background-color: #edeeb6;
}

input[type="checkbox"]:checked + input {
  text-decoration: line-through;
}

.options {
  margin-left: auto;
}

.options.active {
  display: none;
}

.delete {
  display: none;
}

.delete.active {
  display: block;
  margin-left: auto;
}

.edit-input {
  background-color: #edeeb6;
  padding: 0;
  border: none;
  outline: none;
  font-style: italic;
  font-weight: 300;
  width: 100%;
  color: #000000;
}

.clear {
  cursor: pointer;
  background-color: #363676;
  border-top: 0.5px solid #d0d9d4;
  text-align: center;
  padding: 0.5rem;
  color: #ffff;
  border-radius: 5px;
  font-weight:500;
  width: 40%;
  align-self: center;
}
