body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.big-container {
  width: 50%;
  border: 1px solid #d0d9d4;
  display: flex;
  flex-direction: column;
}

.big-container h1 {
  border-bottom: 0.5px solid #d0d9d4;
  margin: 0;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  align-items: center;
}

.big-container h1 i {
  font-size: 1rem;
}

.enter {
  border: none;
  outline: none;
  font-style: italic;
  padding: 0.7rem;
  font-weight: 300;
}

.big-container a {
  border-top: 0.5px solid #d0d9d4;
  text-align: center;
  padding: 1rem;
  color: #000;
}

#list ul {
  border-top: 0.5px solid #d0d9d4;
  display: flex;
  padding: 1rem;
  margin: 0;
  gap: 0.6rem;
}

#list ul.active {
  background-color: #ffffbf;
}

input[type = "checkbox"]:checked +  input{
text-decoration: line-through;
}

.options {
  margin-left: auto;
}

.options.active {
  display: none;
}

.delete {
  display: none;
}

.delete.active {
  display: block;
  margin-left: auto;
}

#list ul input,
h3,
span {
  font-weight: 300;
  margin: 0;
}

.edit-input {
  background-color: #ffffbf;
  padding: 0;
  border: none;
  outline: none;
  font-style: italic;
  font-weight: 300;
  width: 100%;
}

.clear {
  text-decoration: underline;
  cursor: pointer;
}
